<template>
  <div class="form">
    <div class="form-inner">
      <h2 class="form-title">Заказать звонок</h2>
      <div class="form-info">
        <div class="inputs">
          <div class="input__label">
            Имя*
            <my-input
              class="input__name"
              :model-value="name"
              @update:model-value="setName"
              @input="inputName"
              type="text"
              placeholder="Иван Иванов"
            />
            <h3 class="error-message">Обязательное поле</h3>
          </div>
          <div class="input__label">
            Телефон*
            <my-input
              class="input__phone"
              :model-value="phone"
              @update:model-value="setPhone"
              @input="inputPhone"
              @keydown="inputPhone"
              type="tel"
              placeholder="+7 (___) ___-__-__"
              maxlength="18"
            />
            <h3 class="error-message">Обязательное поле</h3>
          </div>
          <div class="input__label">
            Email*
            <my-input
              class="input__email"
              :model-value="email"
              @update:model-value="setEmail"
              @input="inputEmail"
              type="email"
              placeholder="you@example.com"
            />
            <h3 class="error-message">Обязательное поле</h3>
          </div>
        </div>
        <my-select
          class="city__select"
          :cityId="city"
          :options="cityOptions"
          @updateCityId="setCity"
        />
        <my-button
          small
          @click="acceptData"
          class="form__button"
        >
          Отправить
        </my-button>
      </div>
    </div>
  </div>
</template>

<script>
import {mapState, mapMutations, mapActions} from "vuex";

export default {
  data() {
    return {
      cityOptions: [
        {
          id: 1,
          name: "Москва"
        },
        {
          id: 2,
          name: "Санкт-Петербург"
        },
        {
          id: 3,
          name: "Казань"
        }
      ],
    }
  },
  methods: {
    checkName(nameInput) {
      if (nameInput.value.length < 1) {
        nameInput.classList.add('error');
        return false;
      } else {
        return true;
      }
    },
    checkPhone(phoneInput) {
      if (phoneInput.value.length < 18) {
        phoneInput.classList.add('error');
        return false;
      } else {
        return true;
      }
    },
    checkEmail(emailInput) {
      // regexp для для проверки инпута по маске почты
      const reg = /\S+@\S+\.\S+/;
      // возвращаем из функции true если email корректен
      if (reg.test(emailInput.value)) {
        return true;
      } else {
        emailInput.classList.add('error');
        return false;
      }
    },
    validateData(name, phone, email) {
      if (this.checkName(name) &&
          this.checkPhone(phone) &&
          this.checkEmail(email)) {
        return true;
      }
    },
    acceptData() {
      const nameInput = document.querySelector('.input__name'),
            phoneInput = document.querySelector('.input__phone'),
            emailInput = document.querySelector('.input__email'),
            cityId = +this.city;

      this.checkName(nameInput);
      this.checkPhone(phoneInput);
      this.checkEmail(emailInput);

      if (this.validateData(nameInput, phoneInput, emailInput)) {
        const request = {
          name: nameInput.value,
          phone: '+' + phoneInput.value.replace(/\D/g, ''),
          email: emailInput.value,
          city_id: cityId
        }
        this.submitRequest(request)
          .then((result) => {
            this.setResponse(result);
          })
        this.$emit('close', false);
        this.$emit('showResponse', true);
        nameInput.value = '';
        phoneInput.value = '';
        emailInput.value = '';
      }
    },
    inputName(e) {
      let nameInput = e.target,
        nameInputValue = e.target.value;
      nameInput.value = nameInputValue.replace(/[^A-Za-z\u0401\u0451\u0410-\u044f\s]/g,'');
      // Убираем error когда начинаем вводить
      if (nameInputValue.length > 0) {
        nameInput.classList.remove('error');
      }
    },
    inputPhone(e) {
      const getTelInputNumbers = function (input) {
        return input.value.replace(/\D/g, '');
      }
      const clearInput = (input) => {
        this.$store.commit('form/setPhone', '');
        input.value = '';
      }

      let telInput = e.target,
        telInputValue = getTelInputNumbers(telInput),
        formatTelInputValue = '',
        selectionStart = telInput.selectionStart;

      // Убираем error когда начинаем вводить
      if (telInputValue.length > 0) {
        telInput.classList.remove('error');
      }
      if (!telInputValue) {
        clearInput(telInput);
        return;
      }
      if (telInput.value.length <= 3 && e.key === 'Backspace') {
        clearInput(telInput);
        return;
      }

      // в случае если мы редактируем инпут номера не в конце строки
      // и/или вставляем букву вместо цифры то просто сбрасываем (не применяем) наше форматирование
      if (telInput.value.length !== selectionStart) {
        if (e.data && /\D/g.test(e.data)) {
          telInput.value = telInputValue;
        }
        return;
      }

      // Стартовые символы, которые мы будем проверять
      const startSymbols = ['7', '8', '9'];

      if (startSymbols.includes(telInputValue[0])) {
        // russian numbers
        // если ввод начинается с нуля просто добавляем 7 вначале
        if (telInputValue[0] === '9') telInputValue = '7' + telInputValue;
        // делаем дефолтные первые символы '+7'
        let firstSymbols = '+7';
        formatTelInputValue = firstSymbols + ' ';
        // начинаем рисовать маску в зависимости от длины инпута
        if (telInputValue.length > 1) formatTelInputValue += '(' + telInputValue.substring(1, 4);
        if (telInputValue.length >= 5) formatTelInputValue += ') ' + telInputValue.substring(4, 7);
        if (telInputValue.length >= 8) formatTelInputValue += '-' + telInputValue.substring(7, 9);
        if (telInputValue.length >= 10) formatTelInputValue += '-' + telInputValue.substring(9, 11);
      } else {
        // not russian numbers
        formatTelInputValue = '+' + telInputValue.substring(0, 15);
      }
      telInput.value = formatTelInputValue;
    },
    inputEmail(e) {
      let emailInput = e.target,
        emailInputValue = e.target.value;
      // Убираем error когда начинаем вводить
      if (emailInputValue.length > 0) {
        emailInput.classList.remove('error');
      }
      // Обрезаем инпут регуляркой, убираем все кроме латиницы, цифр и собаки с точкой
      emailInput.value = emailInputValue.replace(/[^A-Za-z0-9@.\s]/g, '');
    },
    ...mapMutations({
      setName: 'form/setName',
      setPhone: 'form/setPhone',
      setEmail: 'form/setEmail',
      setCity: 'form/setCity',
      setResponse: 'setResponse'
    }),
    ...mapActions({
      submitRequest: "form/submitRequest",
    }),
  },
  computed: {
    ...mapState({
      name: state => state.form.name,
      phone: state => state.form.phone,
      email: state => state.form.email,
      city: state => state.form.city,
    }),
  },
}
</script>

<style lang="scss" scoped>
  .form {
    &-title {
      font-size: 24px;
      font-weight: 500;
      color: #111827;
      margin-bottom: 23px;
    }
    &-info {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
    }
    .form__button {
      margin: 18px 0 0 0;
      background: #16A34A;
      width: 100%;
    }
  }
  .input__label {
    width: 100%;
    color: #374151;
    margin-bottom: 15px;
  }
  .input.error ~ .error-message {
    display: block;
  }
  .error-message {
    display: none;
    margin: 3px 0 0 2px;
    font-size: 14px;
    font-weight: 400;
    color: rosybrown;
  }
</style>
