<template>
  <div
    @click="closeModal" 
    :class="{
      'modal': true,
      'modal--lock': scrollLock
    }"
  >
    <div 
      @click.stop
      class="modal__inner"
    >
      <slot ></slot>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      lock: false
    }
  },
  props: {
    scrollLock: {
      type: Boolean,
      default: false
    },
  },
  mounted() {
    const body = document.querySelector('body');
    body.style.overflow = this.scrollLock ? 'hidden' : 'auto';
  },
  methods: {
    closeModal() {
      this.$emit('close', false);
    },
  },
}
</script>

<style lang="scss">
.modal {
    padding: 0 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
    &__inner {
      padding: 24px 24px 27px;
      max-width: 500px;
      background: #fff;
      box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0px 10px 10px -5px rgba(0, 0, 0, 0.04);
      border-radius: 8px;
    }
    // &.modal--lock body {
    //   overflow: hidden;
    // }
  }
</style>