<template>
  <div
    class="response"
    @click="hideResponse"
  >
    <div
      class="response__inner"
      v-html="response"
    >
    </div>
  </div>
</template>

<script>
import {mapState} from "vuex";

export default {
  props: {
    showResponse: {
      type: Boolean,
      required: true
    }
  },
  methods: {
    hideResponse() {
      this.$emit('hideResponse', false);
    }
  },
  computed: {
    ...mapState({
      response: state => state.response,
    }),
  },
}
</script>

<style scoped lang="scss">
.response {
  padding: 0 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  &__inner {
    padding: 20px;
    background: #fff;
    box-shadow: 0px 20px 25px -5px rgba(0, 0, 0, 0.1), 0px 10px 10px -5px rgba(0, 0, 0, 0.04);
    border-radius: 8px;
  }
}
</style>