<template>
  <div class="app">
    <my-button
      big
      @click="showModal"
      class="open__button"
    >
      Open modal
    </my-button>
    <my-modal
      scroll-lock
      v-if="isModal"
      @close="isModal = false"
    >
      <my-form
        @close="isModal = false"
        @showResponse="isResponse = true"
      />
    </my-modal>
    <my-response
      v-if="isResponse"
      @hideResponse="isResponse = false"
    />
  </div>
</template>

<script>
import MyForm from "@/components/MyForm";
import MyResponse from "@/components/MyResponse";
import MyModal from "./components/MyModal.vue";
import {mapState, mapMutations} from "vuex";

export default {
  name: 'App',
  components: {
    MyForm,
    MyResponse,
    MyModal
  },
  data() {
    return {
      isModal: false,
      isResponse: false
    }
  },
  methods: {
    showModal() {
      this.isModal = true;
      this.setCity('1');
    },
    ...mapMutations({
      setCity: 'form/setCity'
    })
  },
  computed: {
    ...mapState({
      city: state => state.form.city
    })
  }
}

</script>

<style lang="scss" scoped>

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  color: #2c3e50;
  margin-top: 50px;
  padding: 0 20px;
  display: flex;
  .open__button {
    background: #3B82F6;
    margin: 0 auto;
  }
}

</style>
