<template>
  <button
    :class="{
      'button': true,
      'button--small': small,
      'button--big': big
    }"
  >
    <slot></slot>
  </button>
</template>

<script>
export default {
  name: 'my-button',
  props: {
    small: Boolean,
    big: Boolean
  },
}
</script>

<style lang="scss" scoped>
.button {
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  background: transparent;
  border: none;
  height: 50px;
  width: 200px;
  padding: 7px 17px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  margin-bottom: 10px;
  margin-right: 10px;
  &:hover {
    cursor: pointer;
  }
  &--big {
    height: 70px;
    font-size: 25px;
  }
  &--small {
    height: 38px;
    font-size: 16px;
  }
}
@media (max-width: 375px) {
  .button {
    width: 100%;
  }
}
</style>