<template>
  <input
    class="input"
    type="text"
    @input="changeInput"
  >
</template>

<script>
export default {
  name: 'my-input',
  methods: {
    changeInput(event) {
      this.$emit('update:modelValue', event.target.value);
    }
  }
}
</script>

<style lang="scss" scoped>

.input {
  margin-top: 4px;
  width: 100%;
  padding: 8px 12px;
  border: 1px solid #D1D5DB;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
}

</style>