<template>
  <div>
    <h3 class="select__label">
    Город*
    </h3>
      <select class="select" @change="changeOption">
        <option
          v-for="option in options"
          :key="option.id"
          :value="option.id"
          :selected="option.id === +cityId"
        >
          {{ option.name }}
        </option>
      </select>
  </div>
</template>

<script>
export default {
  name: 'my-select',
  props: {
    options: {
      type: Array,
      default: () => []
    },
    cityId: {
      type: String,
      required: true
    }
  },
  methods: {
    changeOption(event) {
      this.$emit('updateCityId', event.target.value);
    }
  }
}
</script>

<style scoped lang="scss">

.select {
  cursor: pointer;
  width: 100%;
  height: 38px;
  margin-top: 4px;
  border: 1px solid #D1D5DB;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  color: #374151;
  &__label {
    width: 100%;
    font-size: 16px;
    font-weight: normal;
    @media (max-width: 800px) {
      margin-right: 30px;
    }
  }
  
}

</style>